Package: com.local.glassfolderstest3
Name: GlassFolders
Version: 0.7.3~beta1.4.1
Architecture: iphoneos-arm64e
Description: Fixes App Library Logos preprocessing by using standard %init(GFAppLibraryHooks) after explicit SpringBoardHome loading. Settings icon fix from Beta1.4 is retained.
Maintainer: Local Test Build
Author: Local Test Build
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 16.0)
